<h2>Show author</h2>

<ul>

  <li>
    <strong>First name:</strong>
    <%= @author.first_name %>
  </li>

  <li>
    <strong>Last name:</strong>
    <%= @author.last_name %>
  </li>

</ul>

<h3>Books</h3>

<ul>
<%= for book <- @books do %>
  <li>
  <%= link book.title, to: book_path(@conn,:show, book ) %>
  </li>
<%= end %>
</ul>
<%= link "Edit", to: author_path(@conn, :edit, @author) %>
<%= link "Back", to: author_path(@conn, :index) %>
